@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgb(150, 150, 251) 35%,
    rgb(79, 214, 241) 100%
  );
}

th,td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

div {
  text-align: center;
  color: white;
  margin: 2% 0.4%;
}

div input {
  color: black;
}

th {
  background-color: #4caf50;
  color: white;
}

#image {
  display: none;
  align-items: center;
}

#heading {
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: -1rem;
}

p {
  text-align: center;
  color: white;
}

#res {
  display: none;
  font-family: 'Poppins', sans-serif;
}

div img{
  height: 10rem;
  width: 24rem;
  display: inline;
}

#logo{
  left: 11rem;
  position: absolute;
}

#pngwing{
  right: 10rem;
  position: absolute;
}